body {
    background-image: url('sfondo.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Georgia', serif;
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Evita scroll orizzontale se qualcosa esce */
}

h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: black;
    margin-bottom: 50px; /* Aumentato il margine per separare dal tesoro */
    font-size: 2.5em; /* Aumentato leggermente la dimensione del titolo */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 1; /* Assicura che il titolo sia sopra altri elementi */
}

#treasure-container {
    position: relative; /* Rende questo contenitore il punto di riferimento per il messaggio */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra orizzontalmente la cassa e il messaggio */
}

#treasure-chest-positioner {
    margin-bottom: 20px; /* Spazio tra la cassa e il bigliettino */
    /* Nessun posizionamento assoluto o trasformazione qui, è gestito dal body e da #treasure-container */
}

.message-box {
    position: absolute; /* Ora è posizionato relativamente a #treasure-container */
    top: 100%; /* Inizia subito sotto la cassa (al 100% dell'altezza di #treasure-chest-positioner) */
    left: 50%;
    transform: translateX(-50%) scale(0); /* Centra orizzontalmente e nasconde */
    width: 500px; /* Larghezza leggermente aumentata per il bigliettino */
    padding: 20px;
    background-image: url('pergamena.jpg');
    background-size: cover;
    background-color: #f8f0e5;
    border: 2px solid #a38c71;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.message-box.show {
    transform: translateX(-50%) scale(1);
    z-index: 100;
}

#random-message {
    font-family: 'Cormorant Garamond', serif;
    line-height: 1.8;
    color: black;
    font-size: 1.2em; /* Dimensione del testo aumentata */
    font-weight: bold;
    margin: 0;
}